.container-form{
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    width: 550px;
    /* margin-bottom: 15px; */
    margin-top: 15px;
    height: 200px;
    font-size: 20px;
}